* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, #000052 0%, #4f0000 120%);
    /* background-image: linear-gradient(to right, #000052 0%, #4f0000 140%); */
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(151,41,247,1) 0%, rgba(24,22,39,1) 90% ); */
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    color: white;
    z-index: 2;
    position: relative;
    padding: 3rem 8rem;
    display: flex;
    /* justify-content: space-between; */
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 8px;
    border-radius: 18px;
}

/* nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
} */

.title {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    top: 16%;
}

@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
    nav a {
        font-weight: normal;
    }
}